header {
    padding:20px;
    background-color: #333;
    color:white;
    text-align:center;
    font-family: Arial, sans-serif;
    text-align: center;

  
  }
  
  footer {
    padding:20px;
    background-color: #333;
    color:white;
    text-align:center;
    font-family: Arial, sans-serif;
    bottom: 0;
    position: fixed;
    width: 100%;
  }

  a {
      text-decoration: none;
      color: white;
  }